

.noperenos {
    white-space: nowrap;
}

.paragraph {
    max-width: 75ch;
}

@media (max-width: 1009px) {
.section--padding {
    padding: 3.5em 1.5rem;
}
}

@media (min-width: 1009px) {
    .section--padding {
        padding: 6em 1.5rem;
    }
    }


/*intro */

.intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; 
}

.intro__image {
    height: 100%;
   -o-object-fit: cover;
      object-fit: cover;
   bottom: 0;
   left: 0;
   width: 100%;
  background: #f2f2f2;
}


@media (max-width: 1009px) {
    .intro__image {
     height: 320px;
    }    
 }

@media (min-width: 1010px) and (max-width: 1399px) {
    .intro__image {
     height: 600px;
    }
     
 }


 @media (min-width:1400px)  {
    .intro__image {
     height: 700px;
    }
}


@media (min-width:3001px) {
    .intro__image {
     height: 1000px;
    }
}


@media (max-width:768px) {
.mt-3--mobile {
    margin-top:.75rem;
}
}

@media (min-width:769px) {
    .mt-1--desktop {
        margin-top:.75rem;
    }
    }

@media (min-width:1024px) {
        .paragraph__center--desktop {
            max-width: 75ch;
            margin: 0 auto;
        }
        }    



.contact__columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: start;
    
}


@media (min-width:595px) {
    .contact__columns {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 210px 210px;
        grid-template-rows: 210px 210px;
        justify-items: center;
       
    }
    .contact__columns > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
       
    }
    .contact__columns > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
       
    }
    .contact__columns > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
       
    }
    .contact__columns > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
       
    }
}


@media (min-width:1024px) {
    .contact__columns {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 210px 210px;
        grid-template-rows: 210px 210px;
        justify-items: center;  
    }
    .contact__columns > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;  
    }
    .contact__columns > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;  
    }
    .contact__columns > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;  
    }
    .contact__columns > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;  
    }
    .contact__columns > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;  
    }
    .contact__columns > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;  
    }
    .qr {
        grid-column: 1/-1;
        -ms-flex-line-pack: center;
            align-content: center;   
    }
}


@media (min-width:1200px) {
    .contact__columns {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 220px;
        grid-template-rows: 220px;
        
    }
    .contact__columns > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        
    }
    .contact__columns > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        
    }
    .contact__columns > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        
    }
    .contact__columns > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
        
    }
    .qr {
        grid-column: 4/-1;
        -ms-flex-line-pack: center;
            align-content: center;   
    }
}




.whatsapp {
    color:#075e54;
}

.viber {
   color:#665cac;
}

.telegram {
    color:rgb(0, 136, 204);
}

.skype {
    color: #00aff0;
    font-size: 1.5em;   
}

.A1__logo {
    width: 1em;  
}

.mts__logo {
    width:2.3em;
}

.div__logo {
    width: 3.2em;
}

.c {
    height: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}
