

{% comment %}
<div class="hero is-halfheight">
    <div class="hero-body">
      
    </div>
</div>

  
    <div class="section">
          <div class="container mb-6">
              <header>
            <h1 class="title is-size-2-desktop is-size-3-touch has-text-centered">
                Международные автомобильные грузоперевозки
              </h1>
              <h2 class="subtitle is-size-3-desktop is-size-4-touch has-text-centered has-text-grey">
                Оптимизируем и&nbsp;решаем ваши логистические задачи
              </h2>
              </header>
          </div>  
  </div>

<!--
  photo 
-->
<div class="intro" itemscope itemtype="http://schema.org/ImageObject">
  <img class="intro__image" srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_360/f_auto,q_auto/v1634746962/rcargo/scania.jpg 360w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_414/f_auto,q_auto/v1634746962/rcargo/scania.jpg 414w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_600/f_auto,q_auto/v1634746962/rcargo/scania.jpg 600w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_800/f_auto,q_auto/v1634746962/rcargo/scania.jpg 800w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_1024/f_auto,q_auto/v1634746962/rcargo/scania.jpg 1024w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_1600/f_auto,q_auto/v1634746962/rcargo/scania.jpg 1600w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_1920/f_auto,q_auto/v1634746962/rcargo/scania.jpg 1920w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/v1634746962/rcargo/scania.jpg 2500w,
  https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1634746962/rcargo/scania.jpg 3772w"

sizes="(max-width: 360px) 360px,
 (max-width: 600px) 600px,
 (max-width: 800px) 800px,
 (max-width: 1024px) 1024px,
 (max-width: 1600px) 1600px,
 (max-width: 1920px) 1920px,
 3772px"
src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1634746962/rcargo/scania.jpg" alt="междунарожные грузоперевозки 'Рейл Карго'" width="3772" height="2316" itemprop="contentUrl">
<meta itemprop="description" content="междунарожные грузоперевозки 'Рейл Карго'"/>

</div>





  <div class="intro" itemscope itemtype="http://schema.org/ImageObject">
    
    <picture>
      <source type="image/avif" 
      sizes="(max-width: 3773px) 100vw, 3773px"
      srcset="
      /images/hero/scania_irsxyq_c_scale,w_330.avif 330w,
      /images/hero/scania_irsxyq_c_scale,w_811.avif 811w,
      /images/hero/scania_irsxyq_c_scale,w_1107.avif 1107w,
      /images/hero/scania_irsxyq_c_scale,w_1299.avif 1299w,
      /images/hero/scania_irsxyq_c_scale,w_1479.avif 1479w,
      /images/hero/scania_irsxyq_c_scale,w_1645.avif 1645w,
      /images/hero/scania_irsxyq_c_scale,w_1794.avif 1794w,
      /images/hero/scania_irsxyq_c_scale,w_1937.avif 1937w,
      /images/hero/scania_irsxyq_c_scale,w_2074.avif 2074w,
      /images/hero/scania_irsxyq_c_scale,w_2203.avif 2203w,
      /images/hero/scania_irsxyq_c_scale,w_2327.avif 2327w,
      /images/hero/scania_irsxyq_c_scale,w_2453.avif 2453w,
      /images/hero/scania_irsxyq_c_scale,w_2573.avif 2573w,
      /images/hero/scania_irsxyq_c_scale,w_2689.avif 2689w,
      /images/hero/scania_irsxyq_c_scale,w_3104.avif 3104w,
      /images/hero/scania_irsxyq_c_scale,w_3168.avif 3168w,
      /images/hero/scania_irsxyq_c_scale,w_3294.avif 3294w,
      /images/hero/scania_irsxyq_c_scale,w_3408.avif 3408w,
      /images/hero/scania_irsxyq_c_scale,w_3462.avif 3462w,
      /images/hero/scania_irsxyq_c_scale,w_3512.avif 3512w,
      /images/hero/scania_irsxyq_c_scale,w_3553.avif 3553w,
      /images/hero/scania_irsxyq_c_scale,w_3661.avif 3661w,
      /images/hero/scania_irsxyq_c_scale,w_3770.avif 3770w,
      /images/hero/scania_irsxyq_c_scale,w_3773.avif 3773w" >

      <source type="image/webp" 
      sizes="(max-width: 3773px) 100vw, 3773px"
      srcset="
      /images/hero/scania_irsxyq_c_scale,w_330.webp 330w,
      /images/hero/scania_irsxyq_c_scale,w_811.webp 811w,
      /images/hero/scania_irsxyq_c_scale,w_1107.webp 1107w,
      /images/hero/scania_irsxyq_c_scale,w_1299.webp 1299w,
      /images/hero/scania_irsxyq_c_scale,w_1479.webp 1479w,
      /images/hero/scania_irsxyq_c_scale,w_1645.webp 1645w,
      /images/hero/scania_irsxyq_c_scale,w_1794.webp 1794w,
      /images/hero/scania_irsxyq_c_scale,w_1937.webp 1937w,
      /images/hero/scania_irsxyq_c_scale,w_2074.webp 2074w,
      /images/hero/scania_irsxyq_c_scale,w_2203.webp 2203w,
      /images/hero/scania_irsxyq_c_scale,w_2327.webp 2327w,
      /images/hero/scania_irsxyq_c_scale,w_2453.webp 2453w,
      /images/hero/scania_irsxyq_c_scale,w_2573.webp 2573w,
      /images/hero/scania_irsxyq_c_scale,w_2689.webp 2689w,
      /images/hero/scania_irsxyq_c_scale,w_3104.webp 3104w,
      /images/hero/scania_irsxyq_c_scale,w_3168.webp 3168w,
      /images/hero/scania_irsxyq_c_scale,w_3294.webp 3294w,
      /images/hero/scania_irsxyq_c_scale,w_3408.webp 3408w,
      /images/hero/scania_irsxyq_c_scale,w_3462.webp 3462w,
      /images/hero/scania_irsxyq_c_scale,w_3512.webp 3512w,
      /images/hero/scania_irsxyq_c_scale,w_3553.webp 3553w,
      /images/hero/scania_irsxyq_c_scale,w_3661.webp 3661w,
      /images/hero/scania_irsxyq_c_scale,w_3770.webp 3770w,
      /images/hero/scania_irsxyq_c_scale,w_3773.webp 3773w" >

      <img class="intro__image" 
      sizes="(max-width: 3773px) 100vw, 3773px"
      srcset="
      /images/hero/scania_irsxyq_c_scale,w_330.jpg 330w,
      /images/hero/scania_irsxyq_c_scale,w_811.jpg 811w,
      /images/hero/scania_irsxyq_c_scale,w_1107.jpg 1107w,
      /images/hero/scania_irsxyq_c_scale,w_1299.jpg 1299w,
      /images/hero/scania_irsxyq_c_scale,w_1479.jpg 1479w,
      /images/hero/scania_irsxyq_c_scale,w_1645.jpg 1645w,
      /images/hero/scania_irsxyq_c_scale,w_1794.jpg 1794w,
      /images/hero/scania_irsxyq_c_scale,w_1937.jpg 1937w,
      /images/hero/scania_irsxyq_c_scale,w_2074.jpg 2074w,
      /images/hero/scania_irsxyq_c_scale,w_2203.jpg 2203w,
      /images/hero/scania_irsxyq_c_scale,w_2327.jpg 2327w,
      /images/hero/scania_irsxyq_c_scale,w_2453.jpg 2453w,
      /images/hero/scania_irsxyq_c_scale,w_2573.jpg 2573w,
      /images/hero/scania_irsxyq_c_scale,w_2689.jpg 2689w,
      /images/hero/scania_irsxyq_c_scale,w_3104.jpg 3104w,
      /images/hero/scania_irsxyq_c_scale,w_3168.jpg 3168w,
      /images/hero/scania_irsxyq_c_scale,w_3294.jpg 3294w,
      /images/hero/scania_irsxyq_c_scale,w_3408.jpg 3408w,
      /images/hero/scania_irsxyq_c_scale,w_3462.jpg 3462w,
      /images/hero/scania_irsxyq_c_scale,w_3512.jpg 3512w,
      /images/hero/scania_irsxyq_c_scale,w_3553.jpg 3553w,
      /images/hero/scania_irsxyq_c_scale,w_3661.jpg 3661w,
      /images/hero/scania_irsxyq_c_scale,w_3770.jpg 3770w,
      /images/hero/scania_irsxyq_c_scale,w_3773.jpg 3773w"
      src="/images/hero/scania_irsxyq_c_scale,w_3773.jpg"
      alt="междунарожные грузоперевозки 'Рейл Карго'" width="3773" height="2316" itemprop="contentUrl">
      </picture>
  <meta itemprop="description" content="междунарожные грузоперевозки 'Рейл Карго'"/>
  
  </div>
  {% endcomment %}

  <div class="intro" itemscope itemtype="http://schema.org/ImageObject">
    <img class="intro__image" src="https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/v1634931701/rcargo/marcin-jozwiak-kGoPcmpPT7c-unsplash.jpg" alt=" " width="5464" height="3640" itemprop="contentUrl"> 
 
  <div class="section">
    <div class="container mb-6">
        <header>
      <h1 class="title is-size-2-desktop is-size-3-touch has-text-centered">
          Между&shy;народные автомобильные грузоперевозки
        </h1>
        <h2 class="subtitle is-size-3-desktop is-size-4-touch has-text-centered has-text-grey">
          Оптимизируем и&nbsp;решаем логистические задачи <span class="noperenos">с&nbsp;2013 года</span>
        </h2>
        </header>
    </div>  
</div>