<section class="section is-medium has-background-white-ter" id="service">
    <div class="container content">
        <h2 class="is-size-3-desktop is-size-4-touch mt-3 mb-5 paragraph has-text-centered-desktop">Доставим автомобильным транспортом  </h2>
       
       
       
{% comment %}
<div class="photo__grid">
           
    <img class="photo__grid-item item1" loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/v1634769016/rcargo/v_v.jpg" alt="">
         <img class="photo__grid-item item2" loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1634746569/rcargo/volvo-hero.jpg" alt="">
        <img class="photo__grid-item item3" loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/v1634735986/rcargo/s.jpg" alt="">
    </div>
{% endcomment %}


<div class="columns is-centered is-gapless has-text-grey-dark is-size-5">
    <div class="column">
        <ul class="mt-0">
            <li class="mt-3">комплектные грузы</li>
            <li class="mt-3">сборные грузы</li>
            <li class="mt-3">крупно&shy;габаритные грузы </li>
        </ul>
    </div>
    <div class="column">
        <ul class="mt-0">
            <li class="mt-3">грузы, требующие соблюдения особого температур&shy;ного режима</li>                
        </ul>
    </div>        
    <div class="column">
        <ul class="mt-0">
                <li class="mt-3">морские контейнеры</li>
                <li class="mt-3">опасные грузы (ADR)</li>      
        </ul>
    </div>
    <div class="column">
        <ul class="mt-0">
            <li class="mt-3">небольшие партии грузов отдельным малотон&shy;нажным транспортом</li>     
        </ul>
    </div>
</div>
        


 <div class="image is-3by1">          

        <picture  >
            <source media="(max-width: 545px)" srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_500/f_auto,q_auto:best/v1634823074/rcargo/volvo.jpg">
            <source media="(max-width: 789px)" srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_750/f_auto,q_auto:best/v1634823074/rcargo/volvo.jpg">
            <source media="(max-width: 1037px)" srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_896/f_auto,q_auto:best/v1634823074/rcargo/volvo.jpg">
            <source media="(max-width: 2000px)" srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_1344/f_auto,q_auto:best/v1634823074/rcargo/volvo.jpg">
            <img loading="lazy"  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1634823074/rcargo/volvo.jpg" alt="международная автомобильная доставка грузов" width="1400" height="467" decoding="async">
        </picture>
</div>



        <div class="columns is-centered my-3 is-size-5">
             <div class="column ">               
                <p class="content paragraph">
                    <strong>География перевозок:</strong> страны ЕС, СНГ, Центральной Азии. 
                </p>
            </div>
            <div class="column  ">
                <p class="content paragraph">
                    <strong>Обязательное CMR-страхование ответственности перевозчика</strong> составляет до&nbsp;250&nbsp;000&#8364; на&nbsp;каждый страховой случай. 
                </p>               
            </div>
        </div>
        
                

        
    </div>
</section>