<section class="section is-medium has-background-white-bis" id="benefits">
    <div class="container content is-size-5">
        


        <h2 class="is-size-3-desktop mb-6 is-size-4-touch has-text-centered-desktop">Каждый клиент <span class="noperenos">«Рейл Карго»</span> получает </h2>
        <div class="columns is-centered ">
            
           
            <div class="column is-5">
           
                <p>&#9745;&nbsp;&nbsp;индивидуальный подход;</p>
                <p>&#9745;&nbsp;&nbsp;консультации экспертов;</p>
                <p>&#9745;&nbsp;&nbsp;доставку груза в&nbsp;согласованные сроки;</p>
                <p>&#9745;&nbsp;&nbsp;уверенность в&nbsp;сохранности груза;</p>
           
            </div>
            <div class="column is-5">
               
                    <p>&#9745;&nbsp;&nbsp;конкурентноспособные цены;</p>
                    <p>&#9745;&nbsp;&nbsp;команду квалифицированных специалистов;</p>
                    <p>&#9745;&nbsp;&nbsp;решение вопросов, возникающих в&nbsp;процессе перевозки, в&nbsp;режиме 24/7;</p>
                    <p>&#9745;&nbsp;&nbsp;полное документальное сопровождение.</p>
                
            </div>
        </div>
   
        
        <div class="image is-3by1">         

            <picture>
                <source media="(max-width: 545px)" srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_500/f_auto,q_auto/v1634811471/rcargo/agreement_2.jpg">
                <source media="(max-width: 789px)" srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_750/f_auto,q_auto/v1634811471/rcargo/agreement_2.jpg">
                <source media="(max-width: 1037px)" srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_903/f_auto,q_auto/v1634811471/rcargo/agreement_2.jpg">
                <source media="(max-width: 2000px)" srcset="https://res.cloudinary.com/bartoshevich/image/upload/w_1344/f_auto,q_auto/v1634811471/rcargo/agreement_2.jpg">
                <img loading="lazy"  src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1634811471/rcargo/agreement_2.jpg" alt="подписание договора с «Рейл Карго»" width="4500" height="1500" decoding="async">
            </picture>
    </div>

    </div>
</section>