<section class="section is-medium has-background-white-ter" id="price">
    <div class="container content">
        <h2 class="is-size-3-desktop mt-3 mb-5 is-size-4-touch has-text-centered-desktop">Стоимость международной доставки грузов </h2>
        <p class="has-text-centered-desktop is-size-5">
            На формирование стоимости транспортных услуг влияет множество факторов. Перечислим основные: 
         </p>
        <div class="columns is-centered is-gapless is-size-5">
            <div class="column is-5">
                
                 <ul class="mt-0">
                   <li class="mt-3">Размеры и&nbsp;количество перевозимого груза.</li>
                   <li class="mt-3">Характер груза (опасные грузы, скоропортящиеся, дорогостоящие, хрупкие и&nbsp;пр.).</li> 
                   <li class="mt-3">Особенности маршрута грузоперевозки (наличие платных дорог, стоянок и&nbsp;проездов; отсутствие порожнего пробега и&nbsp;простоев).</li> 
                   </ul>
            </div>
            <div class="column is-5">
                    <ul class="mt-0">
                   <li class="mt-3">Дополнительные услуги (погрузочно-разгрузочные работы, оформление экспортной, транзитной деклараций, электронное предварительное информирование и&nbsp;пр.).</li>
                    <li class="mt-3">Условия оплаты транcпортных услуг (возможна как предварительная оплата, так и&nbsp;отсрочка платежа).</li>                     
                 </ul>               

            </div>
        </div>
            <p class="has-text-centered-desktop is-size-5">
                Мы&nbsp;готовы вас проконсультировать <br/>и&nbsp;найти оптимальный вариант распределения бюджета.
              </p> 

              <br/>
              <br/>
            <div class="is-flex-desktop  is-justify-content-center">

                <a class="button  is-medium is-outlined is-info" href="viber://chat?number=%2B375296097736"><span class="icon is-large"><i class="fab fa-viber"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;Запросить консультацию</a>
            </div>

                  
  
            
            
       
        
     

    </div>
</section>