<section class="section is-medium has-background-white-ter" id="service">
    <div class="container content">
        <h2 class="is-size-3-desktop is-size-4-touch mb-5 paragraph has-text-centered-desktop">Доставим автомобильным транспортом  </h2>
       
       
       
{% comment %}
<div class="photo__grid">
           
    <img class="photo__grid-item item1" loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/v1634769016/rcargo/v_v.jpg" alt="">
         <img class="photo__grid-item item2" loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1634746569/rcargo/volvo-hero.jpg" alt="">
        <img class="photo__grid-item item3" loading="lazy" src="https://res.cloudinary.com/bartoshevich/image/upload/v1634735986/rcargo/s.jpg" alt="">
    </div>
{% endcomment %}


        <div class="columns is-centered has-text-grey-dark is-size-5">
            <div class="column">
                <ul class="">
                    <li>комплектные грузы</li>
                    <li>сборные грузы</li>
                    <li>крупно&shy;габаритные грузы </li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li>грузы, требующие соблюдения особого температур&shy;ного режима</li>                
                </ul>
            </div>        
            <div class="column">
                <ul>
                        <li>морские контейнеры</li>
                        <li>опасные грузы (APR)</li>      
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li>небольшие партии грузов отдельным малотон&shy;нажным транспортом</li>     
                </ul>
            </div>
        </div>


        <div class="image is-3by1">
            <img loading="lazy"  src="https://res.cloudinary.com/bartoshevich/image/upload/w_1344/f_auto,q_auto/v1634823074/rcargo/volvo.jpg" alt="международная автомобильная доставка грузов" width="1400" height="467" decoding="async">
        </div>


        <div class="columns is-centered my-3 is-size-5">
             <div class="column ">               
                <p class="content paragraph">
                    <strong>География перевозок:</strong> страны ЕС, СНГ, Центральной Азии. 
                </p>
            </div>
            <div class="column  ">
                <p class="content paragraph">
                    <strong>Обязательное CMR-страхование ответственности перевозчика</strong> составляет до&nbsp;250&nbsp;000&#8364; на&nbsp;каждый страховой случай. 
                </p>               
            </div>
        </div>
        
                

        
    </div>
</section>