<section class="section is-medium has-background-white-bis" id="contacts">
    <div class="container content is-size-5">

        <h2 class="is-size-3-desktop is-size-4-touch mt-3--mobile mb-5 has-text-centered-desktop">Связаться с&nbsp;нами</h2>
        <div class="columns mt-1--desktop">
            <div class="column">
                <div class="is-flex is-align-content-space-between">
                    <div class="mr-4 my-3"><b>A1:</b></div>
                    <div>
                       <p class="my-3"> <a  href="tel:+375296097736" title="позвонить"> +375 (29) <span class="noperenos">609-77-36</span> </a>  </p>
                    <p class="my-3"><a href="viber://chat?number=%2B375296097736"><span class="icon viber"><i class="fab fa-viber 2x"></i></span>&nbsp;Viber</a> </p>
                    <p class="my-3"><a class="noperenos" href="https://wa.me/375296097736"><span class="icon whatsapp"><i class="fab fa-whatsapp 2x"></i></span>&nbsp;WhatsApp</a>  </p>
                    <p class="my-3"><a target="_blank" class="noperenos" rel="noopener" href="https://t.me/r_cargo"><span class="telegram"><i  class="fab fa-telegram 2x"></i></span>&nbsp;Telegram</a></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="is-flex is-align-content-space-between">
                    <div class="mr-4 my-3"><b>A1:</b></div>
                    <div>
                       <p class="my-3 p-0"> <a  href="tel:+375293027736" title="позвонить"> +375 (29) <span class="noperenos">302-77-36</span> </a>  </p>
                    <p class="my-3"><a href="viber://chat?number=%2B375293027736"><span class="icon viber"><i class="fab fa-viber 2x"></i></span>&nbsp;Viber</a> </p>
                    <p class="my-3"><a class="noperenos" href="https://wa.me/375293027736"><span class="icon whatsapp"><i class="fab fa-whatsapp 2x"></i></span>&nbsp;WhatsApp</a>  </p>
                    <p class="my-3"><a target="_blank" class="noperenos" rel="noopener" href="https://t.me/pluhhlup"><span class="telegram"><i class="fab fa-telegram 2x"></i></span>&nbsp;Telegram</a></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <p class="my-3"> <b>MTC:</b> <a  href="tel:+375297097736" title="позвонить"> +375 (29) <span class="noperenos">709-77-36</span> </a>  </p>
                <p class="my-3"><b>Эл. почта:</b> <a href="mailto:info@rcargo.by" title="написать">info@rcargo.by </a>   </p>
            <p class="my-3"><b>Skype:</b> <a href="skype:rcargo2?chat">rcargo2</a></p>
            </div>
            <div class="column">
                <img loading="lazy" class="image" src="/images/qr-code.svg" alt="QR-код с контактами Рейл Карго" title="отсканируйте QR-код, чтобы быстро добавить контакты в&nbsp;телефон" width="200" height="200" decoding="async">
               
            </div>
            
        </div>

        <br/>



            <div class="is-flex-desktop is-justify-content-center">
            <div class="paragraph pt-1">
                <p class="has-text-centered-desktop"><strong> Юридический и&nbsp;почтовый адрес</strong><br/>
                    220029, Беларусь, г.&nbsp;Минск, пр-т Машерова, 17/4, кабинет&nbsp;512<br/>
                    ООО «Рейл Карго»</p>
            </div>
            </div>
   

    </div>
</section>