
{% comment %}
<img class="image" src="/images/logo/logo.png" alt="logo" width="56" height="28">
{% endcomment %}



<picture class="">
    <source srcset="/images/logo/logo@1x.avif 1x, /images/logo/logo@2x.avif 2x,/images/logo/logo@3x.avif 3x,/images/logo/logo@4x.avif 4x" type="image/avif">
    <source srcset="/images/logo/logo@1x.webp 1x, /images/logo/logo@2x.webp 2x,/images/logo/logo@3x.webp 3x,/images/logo/logo@4x.webp 4x" type="image/webp">   
    <img  src="/images/logo/logo@1x.jpg" srcset="/images/logo/logo@2x.jpg 2x,/images/logo/logo@3x.jpg 3x,/images/logo/logo@4x.jpg 4x" alt="лого"   width="56" height="28"/>
</picture>