
    
<nav  aria-label="main navigation"  class="navbar is-transparent is-spaced  has-shadow  ">
<div class="container">
    
    <div class="navbar-brand">
            <span class="navbar-item">
                {% include logo.html %} 
               
            </span>
      
        

            <div class="navbar-item">
              <span class="has-text-weight-bold">  Рейл Карго</span>
            </div>
         
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarmenu">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
            </a>
    
    </div>
    
    <div class="navbar-menu" id="navbarmenu">
        <div class="navbar-start">
            <a href="/#service" class="navbar-item">
                Услуги
                </a>
    
            <a href="/#benefits" class="navbar-item">
            Преимущества
            </a>
                
            <a href="/#price" class="navbar-item">
                Стоимость
            </a>
            <a href="/#contacts" class="navbar-item">
                Контакты
            </a>
        </div>
        <div class="navbar-end">
           
                  
                  <a class="navbar-item" href="tel:+375296097736" title="позвонить">
                    +375 (29) 609-77-36
                  </a>  
                  <a class="navbar-item" href="mailto:info@rcargo.by" title="написать">
                    info@rcargo.by
                  </a>              
                
        </div>
    </div>
    
    
</div>
</nav>
