<link rel="canonical" href="{{ page.url | prepend: site.url }}">
<meta name="author" content="Рейл Карго" />
<meta name="copyright" content="Все права принадлежат ООО «Рейл Карго»">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="website">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}Международные грузоперевозки «Рейл Карго»{% endif %}">
<meta property="og:url" content="{{ page.url }}">
<meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1634735986/rcargo/s.jpg {% endif %}" />
<meta property="og:site_name" content="rcargo.by">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}Международные грузоперевозки «Рейл Карго»{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="rcargo.by" />
<meta name="twitter:creator" content="rcargo.by">
<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %} https://res.cloudinary.com/bartoshevich/image/upload/w_1200/f_auto,q_auto/v1634735986/rcargo/s.jpg {% endif %}">



