<script type="application/ld+json" nonce="2726c7f26a">
    {
      "@context": "https://schema.org",
      "@type": "Corporation",
      "name": "Рейл Карго",
      "legalName": "ООО «Рейл Карго»",
      "url": "https://rcargo.by",
      "logo": "https://rcargo.by/images/logo/logo.png",
      "email": "info@rcargo.by",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+375-29-609-77-36",
        "contactType": "customer service",
        "areaServed": ["BY","EE","KZ","LV","150","143","UA","RU"],
        "availableLanguage": ["Russian","Polish","en"]
      },{
        "@type": "ContactPoint",
        "telephone": "+375-29-302-77-36",
        "contactType": "customer service",
        "areaServed": ["BY","UA","143","150","151","RU"],
        "availableLanguage": ["en","Polish","Russian"]
      },{
        "@type": "ContactPoint",
        "telephone": "+375-29-709-77-36",
        "contactType": "customer service",
        "areaServed": ["BY","LT","RU","UA","143","150","151","154","039","155"],
        "availableLanguage": ["en","Russian","Polish"]
      }],
      "sameAs": "https://rcargo.by"
    }
</script>