---
layout: compress
---
<!Doctype html>
<html lang="ru" >
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">  

  {% include meta.html %} 
  {% include icons.html %} 
  {% include schema.html %} 
  <link rel="dns-prefetch" href="https://res.cloudinary.com/">

 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/style/local.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">



  {% comment %}  
  <link rel="stylesheet" href="/style/styles.pure.css">
  {% endcomment %}
 

  <!-- 
  <link rel="preload" as="image" href="https://res.cloudinary.com/bartoshevich/image/upload/w_360/f_auto,q_auto/v1634746962/rcargo/scania.jpg 360w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_414/f_auto,q_auto/v1634746962/rcargo/scania.jpg 414w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_600/f_auto,q_auto/v1634746962/rcargo/scania.jpg 600w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_800/f_auto,q_auto/v1634746962/rcargo/scania.jpg 800w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_1024/f_auto,q_auto/v1634746962/rcargo/scania.jpg 1024w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_1600/f_auto,q_auto/v1634746962/rcargo/scania.jpg 1600w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_1920/f_auto,q_auto/v1634746962/rcargo/scania.jpg 1920w,
  https://res.cloudinary.com/bartoshevich/image/upload/w_2500/f_auto,q_auto/v1634746962/rcargo/scania.jpg 2500w,
  https://res.cloudinary.com/bartoshevich/image/upload/f_auto,q_auto/v1634746962/rcargo/scania.jpg 3772w"

  imagesizes="(max-width: 360px) 360px,
  (max-width: 600px) 600px,
  (max-width: 800px) 800px,
  (max-width: 1024px) 1024px,
  (max-width: 1600px) 1600px,
  (max-width: 1920px) 1920px,
  3772px">

  -->

</head>
<body>

{% include menu.html %}  
{% include home__hero.html %}  
{% include home__service.html %} 
{% include home__benefits.html %}  
{% include home__price.html %} 
{% include home__contacts.html %} 
{% include home__director.html %} 
{% include footer.html %} 

{% include scripts.html %} 


</body>
</html>